<!DOCTYPE html>
<html class="{{page.theme}}">
  <head>
    <title>{{page.title}} UW–Madison DevBlog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Bootstrap -->
    <link href="/css/uw_devblog.css" rel="stylesheet" media="screen">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/uw_devblog.js"></script>
  </head>
  <body>