  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <a class="navbar-brand" href="/">UW–Madison DevBlog</a>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="about.html">About</a></li>
          <li><a href="3">Mobile Dev</a></li>
          <li><a href="3">Web Dev</a></li>
        </ul>
      </div>
      <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>        
    </div>
  </div>