<article class="col-sm-12 list-group-item">
  <header class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <span class="post-lede">{{ post.lede }}</span>
      <h1 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
      {% include post_meta.html %}
    </div>
    {% if post.featured_image %}
    <div class="post-feat-image col-sm-8 col-sm-offset-2">
      <div class="row">
        <img class="img-responsive col-sm-12" src="{{ post.featured_image }}"/>
      </div>
    </div>
    {% endif %}
  </header>
  <div class="post-content row">
    <div class="col-sm-8 col-sm-offset-2">
      {% if (page.url == '/index.html') %}
        {{ post.content }}
      {% elsif page.archive_page %}
        {{ post.content | truncatewords: 50 }}
      {% else %}
        {{ content }}
      {% endif %}
    </div>
  </div>
  <footer class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-count="none">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
  </footer>
</article>