<span class="post_meta">

  By {{ post.author }} on {{ post.date | date: "%b %d, %Y" }}.

  {% if post.categories != empty %}
    Categories: 
    {% for category in post.categories %}
      <a href="/category/{{ category }}">{{ category }}</a>{% if forloop.index < forloop.length %}, {% endif %}
    {% endfor %}
  {% endif %}

  {% if post.tags != empty %}
    Tags: 
    {% for tag in post.tags %}
      <a href="/tag/{{ tag }}">{{ tag }}</a>{% if forloop.index < forloop.length %}, {% endif %}
    {% endfor %}
  {% endif %}

</span>